.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}
.pokemons{
    list-style: none;
    padding: 0;
    margin: 0;
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.pokemon{
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
 
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .name{
    color: #fff;
    margin-bottom: .25rem;
    font-size: .825rem;
    text-transform: capitalize;
}

.pokemon .detail .types{
     padding: 0;
     margin: 0;
     list-style: none;
}

.pokemon .detail .types .type{
    filter: brightness(1.1);
    color: #fff;
    padding: .25rem  .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 2rem;
    text-align: center;
    text-transform: capitalize;
}

.pokemon .detail img{
    max-width: 60%;
    height: 70px;

}
.pokemon .number {
    color:#000;
    text-align: right;
    opacity: 0.3;
    font-size: .625rem;

}

.pagination{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.pagination button{
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
    color: white;
    padding: 1rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
}

@media screen and (min-width:339px){
   
    .pokemons{
        grid-template-columns: 1fr ;
    }
}

@media screen and (min-width:556px){

    .pokemons{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width:820px){

    .pokemons{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}


